!!!
html
  head
    title= title
    link(rel='stylesheet', href='http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
   .topbar
      .fill
        .container
          a(class='brand', href="#") Lingoville
          ul.nav 
            li 
              a(href='#') Home
          form.pull-right(action='')
            input.input-small(type='text', placeholder='username')
            input.input-small(type='password', placeholder='password')
            button.btn Login
    div!=body

